body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(photo/royalty-free-music.jpg);
    background-size:100%;
}

.question:nth-child(odd) {
    margin-right: 5%;
}

.question p {
    font-weight: bold;
}

.quiz-container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #fff;
}

.question {
    width: 45%;
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
}

.answers {
    margin-bottom: 20px;
}
/* Does not work yet-lines above answers, except first-cild element. */
.asnwers label:not(:first-child) {
    border-top: 2px solid #e0e0e0;
}

label{
    padding:10px 0;
    display: block;
    margin-bottom: 10px;
}