/* Setting apply to the whole screen */
*::before, *::after {
    box-sizing: border-box;
}

/* Color changing background */
:root {
    --hue-neutral: 900;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 10%);
}

body.correct {
    --hue:var(--hue-correct);
}

body.wrong {
    --hue:var(--hue-wrong);
}



.container {
    width: 90vw;
    max-width: 70%;
    height: 90vh;
    max-height: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 30px  0px;
    color: rgb(0, 0, 0);
    justify-content: center;
}

header {
    font-family:'Titan One', sans-serif;
    font-size: 6vw;
    text-align: center;
    color:rgb(41, 71, 65)
}

.question {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 2vw;
    text-align: center;
    padding:  3vh;
}

.btn-grid {
    display:flex;
    justify-content: center;
    margin-top: 3vh;
}


.btn {
    background:hsl(var(--hue), 90%, 10%);
    border-radius: 1vh;
    padding: 1vw;
    padding-bottom: 2vh;
    color: rgb(255, 255, 255);
    outline: none;
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
    justify-content: center;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}


.next-btn {
    display: block;
    margin-top: 5vh;
    padding: 0;
    font-size: 1vh;
    text-align: center;
    background:hsl(var(--hue), 90%, 10%);
    border-radius: 2vh;
    padding: 1vw;
    color: rgb(255, 255, 255);
    outline: none;
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
    justify-content:center;
    padding-bottom: 2vh;
}


.start-btn {
    background:hsl(var(--hue), 90%, 10%);
    border-radius: 2vh;
    padding: 2vw;
    margin-top: 7vh;
    color: rgb(255, 255, 255);
    outline: none;
    font-family: 'Playfair Display', serif;
    font-size: 4vw;
    justify-content:center;
    padding-bottom: 2vh;
}


.finish-btn {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1vh;
    text-align: center;
    background:hsl(var(--hue), 90%, 10%);
    border-radius: 2vh;
    padding: 1vw;
    color: rgb(255, 255, 255);
    outline: none;
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
    justify-content:center;
    padding-bottom: 2vh;
}

.controls {
    display:flex;
    justify-content: center;
    align-items: center;

}

.hide {
    display: none !important;
}

.btn {
    display: block;
    margin: 10px auto;
}

.footer {
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    font-size: 2vw;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-height: 40px;
    text-align: center;
    padding: 15px;
    justify-content: space-between;
}

.fa {
    color:rgb(255, 255, 255);
}

a .fa fa-instagram, a .fa fa-facebook {
    color: rgba(255, 255, 255);
    padding: 4vw;
    font-family: 'Playfair Display', serif;
}

.fa:hover {
    color: rgb(191, 255, 0);
}

footer:hover {
    color: rgb(191, 255, 0);
}

/* Mobile styling */
@media screen and (min-width:300px) and (max-width:600px) {
    .container{
        height: 100vh;
        max-height: 70%;
    }

    .question {
        font-size:5vw;
        font-weight: 300;
        max-height:  15px;
    }

    .btn-grid {
        display: block;
        justify-content:center;
        text-align: center;
        padding: 2vw;
        font-size: 3vw;
    }

    .controls {
    max-height: 50%;
    }

    .start-btn {
        font-size: 7vw;
        display: inline-block;
        justify-content:space-evenly;
        padding: 4vw;
        margin-top: 10vh;
    }

    .next-btn {
        font-size: 4vw;
        display: inline-block;
        justify-content:space-evenly;
        padding: 3vw;
    }

    .finish-btn {
        font-size: 6vw;
        display: inline-block;
        justify-content:space-evenly;
        padding: 3vw;
    }
    
    header {
        padding-bottom: 0;
        font-size: 20px;
    }

    .footer {
        font-size: 4vw;
    }
}

/* Mobile styling-horizontal */
@media screen and (min-height:300px) and (max-height:600px) {
    .controls {
        max-height: 30%;
    }

    .header {
        font-size: 15px;
    }

    .btn-grid {
        font-size: 3vw;
    }

    .container {
        max-width: 80%;
        width: 100vw;
    }
}