/* Setting apply to the whole screen */
*::before, *::after {
    box-sizing: border-box;
}

/* Color changing background */
:root {
    --hue-neutral: 300;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 10%);
}

body.correct {
    --hue:var(--hue-correct);
}

body.wrong {
    --hue:var(--hue-wrong);
}



.container {
    width: 90vw;
    max-width: 70%;
    height: 60vh;
    max-height: 50%;
    background-color: rgb(218, 190, 219);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 20px  10px;
    color: rgb(0, 0, 0);
    justify-content: center;
}

header {
    font-family:'Titan One', sans-serif;
    font-size: 6vw;
    text-align: center;
    color:rgb(0, 0, 0)
}

.question {
    font-family: 'Playfair Display', serif;
    font-size: 3vw;
    text-align: center;
    padding:  20px;
}

.btn-grid {
    display:inline-block;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
}


.btn {
    background:hsl(var(--hue), 90%, 10%);
    border-radius: 1vh;
    padding: 2vw;
    padding-bottom: 2vh;
    color: rgb(255, 255, 255);
    outline: none;
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

.start-btn {
    display: block;
    margin: 20px auto;
}

.next-btn {
    display: none;
    margin: 20px auto;
}

.start-btn, .next-btn {
    background:hsl(var(--hue), 90%, 10%);
    border-radius: 2vh;
    margin-top: 3vh;
    padding: 2vw;
    color: rgb(255, 255, 255);
    outline: none;
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
    justify-content:center;
    padding-bottom: 2vh;
}


.controls {
    display:flex;
    justify-content: center;
    align-items: center;

}

.hide {
    display: none !important;
}

.btn {
    display: block;
    margin: 10px auto;
}